@page
@model ServiceHost.Areas.Admin.Pages.Blog.ArticleCategories.IndexModel
@{
    ViewData["Title"] = "مدیریت دسته بندی مقالات";
}

<div class="col-12">
    <div class="card">

        <div class="card-header text-start d-flex justify-content-between">
            <button type="button" class="btn btn-primary fs-8" data-bs-toggle="modal"
                    data-bs-target="#filter">
                فیلتر
                <i class="bi bi-funnel-fill"></i>
            </button>

            <a href="#" id="openModalLink" class="btn btn-primary fs-8">
                ایجاد دسته بندی مقالات
                <i class="bi bi-plus"></i>
            </a>


        </div>

        <div class="card-body">
            <!-- Table -->
            <div class="table-responsive border border-1 rounded p-2">
                <table class="table product table-rounded m-0 align-middle" id="PTable">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">عکس</th>
                            <th scope="col">نام دسته بندی</th>
                            <th scope="col">توضیحات</th>
                            <th scope="col">ترتیب نمایش</th>
                            <th scope="col">تعداد مقالات</th>
                            <th scope="col">تاریخ ثبت</th>
                            <th scope="col">عملیات</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model.ArticleCategories)
                        {
                            <tr>
                                <th scope="row">@item.Id</th>
                                <td><img src="~/ProductPictures/@item.Picture" alt="" class="" width="50"></td>
                                <td>@item.Name</td>
                                <td>@item.Description</td>
                                <td>@item.ShowOrder</td>
                                <td>@item.ArtilcesCount</td>
                                <td>@item.CreationDate</td>
                                <td>
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button"
                                                id="dropdownMenuButton1" data-bs-toggle="dropdown"
                                                aria-expanded="false">
                                            عملیات
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                            <li><a class="dropdown-item" href="#">نمایش</a></li>
                                            <li>
                                                <a class="dropdown-item openModalLinkEdit" href="#" data-id="@item.Id">ویرایش</a>
                                            </li>
                                            <li><a class="dropdown-item" href="#">حذف</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
            <!-- pagination -->
            <div class="d-flex justify-content-center mt-3">
                <nav aria-label="Page navigation example">
                    <ul class="pagination my-2">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item ">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

    </div>
</div>

<!-- Modal Filter -->
<div class="modal fade z-index-Higher" id="filter" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <form action="" method="get">
                <div class="modal-header justify-content-between">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">فیلتر محصول</h1>
                    <button type="button" class="btn-close m-0" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label" asp-for="SearchModel.Name">
                            نام
                            دسته بندی محصول
                        </label>
                        <input type="text" class="form-control" asp-for="SearchModel.Name"
                               aria-describedby="emailHelp">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">کنسل</button>
                    <button type="submit" class="btn btn-primary">فیلتر کردن</button>
                </div>
            </form>

        </div>
    </div>
</div>

<!-- Modal Create -->
<div id="modalContainer"></div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="~/js/DisableAutoFocus.js"></script>
    <script src="~/Admin_temp/js/site.js"></script>
    <script>
        $(document).ready(function() {
            $("#openModalLink").click(function(e) {
                e.preventDefault();

                $.get("/Admin/Blog/ArticleCategories?handler=Create", function(data) {
                    $("#modalContainer").html(data);

                    //For validate Form Create
                    var form = $("#modalContainer").find("form");
                    $.validator.unobtrusive.parse(form);

                    var modal = new bootstrap.Modal(document.getElementById('create'));
                    modal.show();
                });
            });

            $(".openModalLinkEdit").click(function(e) {
                e.preventDefault();

                var idToEdit = $(this).data("id");
                $.get("/Admin/Blog/ArticleCategories?handler=Edit&id=" + idToEdit, function(data) {
                    $("#modalContainer").html(data);
                    var modal = new bootstrap.Modal(document.getElementById('edit'));
                    modal.show();
                });
            });

        });
    </script>

    <partial name="_ValidationScriptsPartial" />
}


