@using _01_LampQuery.Contract.ProductCategory
@using _0_FrameWork.Application
@model List<ProductCategoryQueryModel>
@{
}

<!-- Category With Product-->
<ul class="nav nav-pills mb-3 justify-content-center mt-5 CategoryWithProduct" id="pills-tab" role="tablist">
    @foreach (var category in Model)
    {
        @if (category.Products.Count > 0)
        {
            <li class="nav-item" role="presentation">
                <button class="nav-link"
                        data-bs-toggle="pill"
                        data-bs-target="#@category.Slug.FaToEnSlug()"
                        type="button"
                        role="tab">
                    @category.Name
                </button>
            </li>
        }

    }
</ul>

<!-- Product -->
<div class="container">
    <div class="tab-content" id="pills-tabContent">

        @foreach (var category in Model)
        {
            <div class="tab-pane fade"
                 id='@category.Slug.FaToEnSlug()'
                 role="tabpanel">

                <div class="row justify-content-center">

                    @foreach (var product in category.Products)
                    {
                        <div class="col-md-4">
                            <div class="card shadow-sm">
                                <div class="card-img-container">
                                    <img src="~/ProductPictures/@product.Picture"
                                         class="card-img-top"
                                         alt="Product image" />
                                    @if (product.DiscountRate > 0)
                                    {
                                        <span class="badge bg-danger discountPercent">@product.DiscountRate% تخفیف</span>
                                        <div class="card-body-overlay">
                                            <h5 class="dir-rtl">@product.Name</h5>
                                            <p class="card-text d-flex justify-content-between mb-2">
                                                <span class="text-muted text-decoration-line-through dir-rtl">@product.Price تومان</span>
                                                <span class="fw-bold ms-2 dir-rtl">@product.PriceWithDiscount تومان</span>
                                            </p>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="card-body-overlay">
                                            <h5 class="dir-rtl">@product.Name</h5>
                                            <p class="card-text d-flex justify-content-between mb-2">
                                                <span class="fw-bold ms-2 dir-rtl">@product.Price تومان</span>
                                            </p>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    }

                </div>

            </div>

        }

    </div>
</div>
<script>
    document.querySelector("#pills-tab li:first-child button").classList.add("active");
    document.querySelector("#pills-tabContent .tab-pane:first-child").classList.add("active");
    document.querySelector("#pills-tabContent .tab-pane:first-child").classList.add("show");
</script>